<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Bastet</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet/less" type="text/css" href="./assets/less/app.less" />
  </head>

  <body ng-app="bastetApp" layout="row" ng-controller="MainController">

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1>Bastet</h1>
    </md-toolbar>

    <md-content flex id="content">
      <div class="login">
        <md-input-container class="md-icon-float" >
          <label>Name</label>
          <input ng-model="user.name" type="text" ng-required="true">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <input ng-model="user.password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <md-button class="md-raised md-primary">Login</md-button>
        </md-input-container>
      </div>
    </md-content>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./bower_components/less/dist/less.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/main/Main.js"></script>
    <script src="./src/main/MainController.js"></script>
    <script src="./src/app.js"></script>

  </body>
</html>
